.TagEditor .TagName {
  display: inline-block;
  padding: 0 0.4rem 0 0.6rem;
  content: '';
  border: 1px solid #ddd;
  border-radius: 0.2em;
}

.TagEditor .TagName-Contents {
  display: flex;
  align-items: center;
}

.TagEditor .TagName-Text {
  margin: 0 0.5rem 0 0;
  font-size: 1rem;
  line-height: 1.6em;
}

.TagEditor .TagName-LockButton {
  display: flex;
  align-items: center;
}

.TagEditor .TagName-LockButton img {
  width: 1rem;
  height: 1rem;
}

.TagEditor button.TagName-LockButton {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

.TagEditor button.TagName-Delete {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

.TagEditor .TagName-Delete {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.2rem;
}

.TagEditor .TagName-Delete::after,
.TagEditor .TagName-Delete::before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  width: 40%;
  margin: auto;
  content: '';
  border-top: 1px solid rgb(172, 172, 172);
}

.TagEditor .TagName-Delete::after {
  transform: skewY(-45deg);
}

.TagEditor .TagName-Delete::before {
  transform: skewY(45deg);
}

.TagEditor .TagName-Delete:hover {
  background-color: rgb(240, 240, 240);
}

.TagEditor .TagName-Delete:hover::after,
.TagEditor .TagName-Delete:hover::before {
  border-color: #000;
}

.TagEditor .clearText {
  overflow: hidden;
  text-indent: 300%;
  white-space: nowrap;
}
